	<div class="jumbotron">
		<div id="contactDisplay">
			<h1>Contact Us!</h1>				
		</div>
		<div id="contactInfo">
			<ul>
				<li>
					<a href="https://github.com/JohnAustinRoberts/DownTheShore2">Github Repo</a>
				</li>
				<li>
					<h2>Email: Austin.Roberts72@yahoo.com</h2>
				</li>
		</div>
	</div>		    