<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Down The Shore</title>

    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <!--       <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>



<body>
    <div class="container-fluid">
        <div class="row" id="main-header">
            <h1>down the shore</h1>
        </div>
        <div class="row">
            <div class="col-sm-3">

                <ul id="main-menu">
                    <li>
                        <a href="./home.html">
                            <h2>Home</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#photos">
                            <h2>Photos</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#guestbook">
                            <h2>Guestbook</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#reservation">
                            <h2>Reservation</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <h2>Contact</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 beach-background">
                <!-- empty element for overlay -->
                <div class="col-sm-8 cycle-overlay custom"></div>

                <img src="file:///Users/elanacelano/Desktop/Bootcamp/rutgers-coding-bootcamp/downTheShore/models/photospg.html" data-date="May, 2012" data-title="Sonnenberg Gardens" data-cycle-desc="Sonnenberg Gardens">
                <img src="http://malsup.github.io/images/p2.jpg" data-date="June, 2012" data-title="Redwoods" data-cycle-desc="Muir Woods National Monument">
                <img src="http://malsup.github.io/images/p3.jpg" data-date="June, 2012" data-title="Angel Island" data-cycle-desc="San Franscisco Bay">
                <img src="http://malsup.github.io/images/p4.jpg" data-date="July, 2012" data-title="Raquette Lake" data-cycle-desc="Adirondack State Park">
            </div>

            <td>
                <img src="beach">
                <div style="height:100%;width:100%">
                    hello world
                </div>
                </a>
            </td>
            <!--     <img src="../images/beach.png" alt="beachy background"/> -->
        </div>
    </div>
    </div>




    <footer>
        <p>footer</p>
    </footer>
</body>

</html>