<div class="container">
	<div class="row">
		<div class="input-group">
	      <input type="text" class="form-control" id="nameField" placeholder="Name">
	    </div>
	    <div class="input-group">
	      <input type="text" class="form-control" id="dateField" placeholder="Date">
	    </div>
	    <div class="input-group">
	      <input type="text" class="form-control" id="nightsField" placeholder="Nights">
	    </div>
	    <button class="btn btn-default" id="reserve" type="button">Make Reservation</button>
	</div>
	<div class="row">
		<div class="input-group">
	      <input type="text" class="form-control" id="commentName" placeholder="Name">
	    </div> 
	      <textarea class="form-control" id="commentArea" rows="3"></textarea>
	      <button class="btn btn-default" id="comment" type="button">Post Comment</button>
	</div>
</div>