
        <div class="col-sm-3">
            <div id="reservationDisplay">
                <h1>Reservation</h1>
                    <ul>
                        {{#each reservations}}
                            <li>
                                {{this.name}}
                            </li>
                            <li>
                                {{this.date}}
                            </li>
                            <li>
                                {{this.nights}}
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div> 
        <div class="col-sm-5"> 
        	<div id="newReservation">  
	            <form>
	                <div class="form-group">
	                    <label for="First Name">Name</label>
	                    <input type="name" class="form-control" id="nameField" placeholder="name">
	                </div>
	                <div class="form-group">
	                    <label for="Date From">Date From</label>
	                    <input type="date" class="form-control" id="dateField" placeholder="date">
	                </div>
	                <div class="form-group">
	                    <label for="Date To">Nights</label>
	                    <input type="nights" class="form-control" id="nightsField" placeholder="nights">
	                </div>
                    <div id="priceDisplay">
                    </div>
	                <button class="btn btn-default" id="reserve" type="button">Submit Reservation</button>
	            </form>
	        </div> 
        </div>
    </div>
</div>
