<div class="container">
	<div class="row">
		<h1>Reservations</h1>
	</div>
	<div class="row">
		<div id="reservationDisplay">
				<ul>
					{{#each reservations}}
						<li>
							{{this.name}}
						</li>
						<li>
							{{this.date}}
						</li>
						<li>
							{{this.nights}}
						</li>
					{{/each}}
				<ul>
		</div>
	</div>
	<div class="row">
		<div id="reservationForm">
			<h2>Make A Reservation</h2>
			<div class="input-group">
		      <input type="text" class="form-control" id="nameField" placeholder="Name">
		    </div>
		    <div class="input-group">
		      <p>Date: <input type="text" id="datepicker"></p>
		    </div>
		    <div class="input-group">
		      <input type="text" class="form-control" id="nightsField" placeholder="Nights">
		    </div>
		    <button class="btn btn-default" id="reserve" type="button">Make Reservation</button>
		</div>
	</div>			    
</div>