
        <div class="col-sm-3" id="reserve">
            <div id="reservationDisplay">
                <h1>Reservation</h1>
                    <ul>
                        {{#each reservations}}
                            <li>
                                {{this.name}}
                            </li>
                            <li>
                                {{this.date}}
                            </li>
                            <li>
                                {{this.nights}}
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div> 
        <div class="col-sm-5"> 
        	<div id="newReservation">  
	            <form>
	                <div class="form-group">
	                    <label for="First Name">First Name</label>
	                    <input type="name" class="form-control" id="name1" placeholder="name">
	                </div>
	                <div class="form-group">
	                    <label for="Last Name">Last Name</label>
	                    <input type="lastName" class="form-control" id="name2" placeholder="lastname">
	                </div>
	                <div class="form-group">
	                    <label for="Date From">Date From</label>
	                    <input type="date" class="form-control" id="date1" placeholder="date">
	                </div>
	                <div class="form-group">
	                    <label for="Date To">Date To</label>
	                    <input type="date" class="form-control" id="date2" placeholder="date">
	                </div>
	                <button type="submit" class="btn btn-primary">Submit</button>
	            </form>
	        </div> 
        </div>
    </div>
</div>
